<%- include('../../partials/head.ejs') -%>
<div class="page-container">
    <!-- style start -->
    <link href="../../../public/assets/bundles/flatpicker/css/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <!-- style end -->
    <!-- navbar start -->
    <%- include('../../partials/navbar.ejs') -%>
    <!-- navbar end -->
    <!-- sidebar start -->
    <%- include('../../partials/sidebar.ejs') -%>
    <!-- sidebar end -->
    <!-- JS start -->
    <!-- start js include path -->
    <%- include('../../partials/footer.ejs')-%>
    <script src="../../../public/assets/data/date-time.init.js"></script>
	<script src="../../../public/assets/bundles/flatpicker/js/flatpicker.min.js"></script>
    <!-- JS end -->
    <!-- Page start -->
    <%- include('../../pages/tournament/create-tournament.ejs') -%>
    <!-- Page end -->
</div>